@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


:root {
    --color1: #fbf5f3;
    --color2: #e28413;
    --color3: #000000;
    --color4: #de3c4b;
    --color5: #c42847;
    --font: verdana;
    --spacebetweentitles: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color1);
    font-family: var(--font);
}

a {
    color: var(--color2);
    padding: 20px 0px;
    text-decoration: none;
}



/* HEADER STARTS */

.container {
    width: 100%;
    height: 50px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container div a {
    color: var(--color2);
    font-size: 20px;
}

.title {
    padding: 20px 0px 10px 10px;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#nav a:hover {
    color: #c42847;
}

/* HEADER ENDS */

/*MAIN STARTS*/

main img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

main {
    text-align: center;
    padding: 20px;
}

.presentation {
    padding-bottom: 30px;
}

.presentation h3 {
    padding-bottom: var(--spacebetweentitles);
}

.services h3 {
    padding-bottom: var(--spacebetweentitles);
}

.services h4 {
    padding-bottom: 10px;
}

.services article {
    padding-bottom: 20px;
}

/*MAIN ENDS*/

/*FOOTER STARTS*/
.bottom {
    width: 100%;
    height: 60px;
    color: var(--color1);
    background-color: var(--color4);
    text-align: center;
}

.bottom p {
    padding: 10px;
}

/*FOOTER ENDS*/

/*MEDIA QUERIES*/